{#

This is a Twig template file. It will be compiled to HTML by Webpack.

See https://dgrigg.com/blog/twig-webpack and https://gist.github.com/dgrigg/d4811ee9bc85d31376f4cb7365abf04d

Requires thes packages: raw-loader, twig-html-loader

#}

{% set title = "Dr. Barry Adams Paediatric Resident Advocacy Education Grant" %}
{% set seo_keywords = 'Advocacy' %}
{% set seo_description = 'Donations support this community-based project to provide child health training to Ugandan community volunteers and local health care practitioners.' %}
{% set seo_title = "Dr. Barry Adams Paediatric Resident Advocacy Education Grant" %}
{% extends "_layouts/layout.twig" %}

{% block main %}

  <!-- Main Content -->

  <h1>{{ title }}</h1>

  <ul>
    <li>
      <a href="#recipients">Past recipients</a>
    </li>
    <li>
      <a href="https://forms.cps.ca/view.php?id=25932">Submit your proposal</a>
    </li>
  </ul>
  <p>Established in 2004, the Dr. Barry Adams Paediatric Resident Advocacy Education Grant&nbsp;supports paediatric residents in developing, planning and implementing&nbsp;community-based research or advocacy projects in child and youth health. This grant encourages paediatric residents to develop and implement advocacy initiatives and&nbsp;<strong>provides up to 4 projects a year with $2,500 each&nbsp;</strong>in funding. The grant&nbsp;is funded by&nbsp;<a href="/" target="_blank" rel="noopener">Healthy Generations</a>.</p>
  <p>Projects should lead to sustainable, community-based child and youth health initiatives that increase access to care, especially for underserved children and youth, and/or address health disparities among children and youth, and/or improve the healthcare experience for patients and/ their family,&nbsp;<strong>and must be completed within one year</strong>. Priority will be given to applicants who have not previously received this grant, however, previous grant recipients may resubmit.&nbsp;</p>
  <h3>Eligibility</h3>
  <p>To be considered for this grant, the paediatric resident, fellow or medical student must:</p>
  <ul>
    <li>be a CPS member,</li>
    <li>be a resident in a Canadian paediatric training program or a medical student in a Canadian university,</li>
    <li>lead the project and be significantly involved in proposal development and project activities.</li>
  </ul>
  <h3>Project criteria</h3>
  <p>To qualify, candidates must submit a proposal for a community-based project that meets all of the following criteria</p>
  <ul>
    <li>will be completed within one year</li>
    <li>is community-based with the possibility of being replicated in other communities</li>
    <li>represents a&nbsp;<strong>NEW</strong>&nbsp;initiative within the community</li>
    <li>demonstrates community collaboration</li>
    <li>includes achievable plans for sustainability beyond the grant period,</li>
    <li>demonstrates a realistic, achievable evaluation plan for the program,</li>
    <li>includes a budget with justification for funding</li>
    <li>must have a letter of support from local Program Director</li>
    <li>must have a letter of support from the chosen not-for-profit community association if applicable</li>
  </ul>
  <p>Projects may not include continuing medical education activities, paediatric human resource activities or funding for infrastructure.</p>
  <h3>Submissions - Deadline October 31, 2024</h3>
  <p>Project/proposals must be submitted by&nbsp;<strong>October&nbsp;31, 2024</strong>&nbsp;following the&nbsp;<a href="https://healthygenerations.ca/uploads/content/Final_-_TOR_Paed_Res_Adv_Edu_Grant_updated_July2024.pdf">Terms of Reference</a>&nbsp;and using the&nbsp;<a href="https://healthygenerations.ca/Grants/paediatric-resident-advocacy-education/nominate">online application form.</a>
  </p>
  <h3>Past recipients</h3>

  <div>
    <div>2022</div>
    <div>
      <p>
        <a href="https://healthygenerations.ca/uploads/content/Literacy_in_Northern_Ontario_-_Final_Report.pdf">Literacy in Northern Ontario</a>
      </p>
      <p>Marie Albert<br/>Anne-Sophie Gervais</p>
    </div>
    <div>2021</div>
  </div>

  <div>
    <div>
      <p>
        <strong>Exploring the Challenges Faced by Grandparent Caregivers During the COVID-19 Pandemic</strong>
      </p>
      <p>Alexis Fong-Leboeuf</p>
      <p>
        <a href="https://healthygenerations.ca/uploads/content/Final_report_-_Cannabis_Video.pdf">
          <strong>Youth &amp; Cannabis: An Educational Video</strong>
        </a>
      </p>
      <p>Brittany Pennock&nbsp;et al</p>
    </div>
    <div>2020</div>
  </div>
  <div>
    <div>
      <p>
        <strong>Minding the Gap - Youth Mental Health Empowerment and Education Outreach</strong>
      </p>
      <p>Rebecca Hay</p>
    </div>
  </div>

  <div>
    <div>2019</div>
    <div>
      <p>
        <strong>Medical Experiences of Ottawa Region LGBTQ2+ Children &amp; Youth</strong>
      </p>
      <p>Kyle Canton et al</p>
      <p>
        <strong>Implementation of a Sensory Toolkit at the Albert Children&rsquo;s Hospital Emergency Department for Children with Autism Spectrum</strong>
      </p>
      <p>Ceilidh Kinlin</p>
    </div>
  </div>

  <div>
    <div>2018</div>
    <div>
      <p>
        <strong>Helmet Use in Under 18s in Magog</strong>
      </p>
      <p>Claudia Nuncio- Naud,&nbsp;Stephanie Lenet, Sarah Masson</p>
      <p>
        <strong>Creation and Dissemination of Education Tools on Bronchiolitis and Respiratory Viruses</strong>
      </p>
      <p>Pierre-Philippe Pich&eacute;-Renaud</p>
    </div>
  </div>

  <div>
    <div>2017</div>
    <div>
      <p>
        <strong>The Manitoba Baby Box Initiative: Pilot Project</strong>
      </p>
      <p>Breagh Kennedy</p>
    </div>
  </div>

  <div>
    <div>2016</div>
    <div>
      <p>
        <strong>Make room to read: A clinic-based intervention to promote early literacy among medically uninsured children in Toronto, Canada</strong>
      </p>
      <p>Dr. Alisha Jamal</p>
    </div>
  </div>


{% endblock %}
