{#

This is a Twig template file. It will be compiled to HTML by Webpack.

See https://dgrigg.com/blog/twig-webpack and https://gist.github.com/dgrigg/d4811ee9bc85d31376f4cb7365abf04d

Requires thes packages: raw-loader, twig-html-loader

#}

{% set title = "Board of Directors" %}
{% set seo_keywords = 'Board' %}
{% set seo_description = 'Healthy Generations values the trust of our donors and is committed to protecting their privacy.' %}
{% set seo_title = "Board of Directors" %}
{% extends "_layouts/layout.twig" %}

{% block main %}

  <!-- Main Content -->

  <h1>{{ title }}</h1>

    <h2 class="sr-only">Board of Directors</h2>

    <p><strong>Sam Wong, MD</strong><br>President, Healthy Generations<br>Edmonton, Alberta</p>

    <p><strong>Robert Moriartey, MD</strong><br>Director<br>Edmonton, Alberta</p>

    <p><strong>Robert Issenman, MD</strong><br>Director<br>Hamilton, Ontario</p>

    <p><strong>Jean-Yves Frappier, MD</strong><br>Director<br>Montreal, Quebec</p>

    <p><strong>Leigh Anne Newhook, MD</strong><br>Director<br>St. John's, Newfoundland and Labrador</p>

    <p><strong>Robin Walker, MD</strong><br>Director<br>London, Ontario</p>

    <p><strong>Jeff Critch, MD</strong><br>Director<br>St. John's, Newfoundland and Labrador</p>

{% endblock %}
