{#

This is a Twig template file. It will be compiled to HTML by Webpack.

See https://dgrigg.com/blog/twig-webpack and https://gist.github.com/dgrigg/d4811ee9bc85d31376f4cb7365abf04d

Requires thes packages: raw-loader, twig-html-loader

#}

{% set title = "Home" %}
{% set seo_title = "Supporting Children's Health Needs" %}
{% set seo_keywords = 'Home, Healthy Generations, Giving, Donations' %}
{% set seo_description = 'Since 1985, Healthy Generations has raised funds to support the goal it shares with the Canadian Paediatric Society of improving the health and well being of children and youth.' %}
{% extends "_layouts/home.twig" %}

{% block main %}

    <main id="main" class="content-wrapper lg:container mx-auto px-4 pb-12 lg:py-12 flex-grow print:mb-0">
        <section class="flex flex-col print:flex-col md:flex-row lg:flex-row justify-between items-center lg:mt-0 mb-12">
            <div class="w-full: md:w-3/4 lg:w-1/2 lg:pr-20 mb-8 lg:mb-0 lg:pl-14">
                <h1 class="!text-6xl md:!text-5xl lg:!text-6xl !mt-8 lg:!mt-0 font-bold text-blue-600 mb-6 text-center">Healthy<br>Generations</h1>
                <p class="text-xl md:text-[26px] text-blue-600 text-center mb-6">We are committed to supporting the health needs of children and youth
                </p>
                <h2 class="text-2xl font-semibold text-blue-600 text-center mb-8 print:mb-5">Donate generously</h2>
                <div class="flex justify-center items-center">
                  <a href="https://www.canadahelps.org/en/charities/healthy-generations/" target="_blank" class="bg-yellow-400 !no-underline hover:text-shadow-lg text-black tracking-wider font-semibold py-4 print:py-0 print:mb-8 px-8 text-2xl rounded-xl [text-shadow:_0_2px_4px_rgb(102_102_102_/_0.4)]">Donate Now</a>
                </div>
            </div>
            <div class="w-full lg:w-1/2">
                <img src="/assets/img/hero.avif" alt="Children smiling" class="print-page-break-after rounded-lg shadow-lg w-full sm:portrait:mt-2 sm:landscape:mt-12 md:portrait:mt-2 md:landscape:mt-12" width="100%" height="100%">
            </div>
        </section>

        <section class="grid grid-cols-1 print:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 print:gap-0">
            <article class="bg-gray-950 text-white p-6 rounded-lg print:mt-0 print:mb-0">
                <h2 class="text-2xl font-bold mb-4">Our Story</h2>
                <p class="text-base">
                    Since 1985, Healthy Generations has raised funds to support the goal it shares with the Canadian
                    Paediatric Society of improving the health and well being of children and youth. Healthy Generations
                    does so by supporting three priority projects: Paediatric Resident Advocacy Education, the Dr. Kent
                    Saylor Bursary for Indigenous Medical Students and Healthy Child Uganda.
                </p>
            </article>
            <article class="bg-white p-6 rounded-lg shadow print:mt-0 print:mb-0">
                <h3 class="text-xl font-bold mb-2">Paediatric Resident Advocacy Education</h3>
                <p class="text-base mb-4">As advocates for the young, paediatric residents have the opportunity to submit
                    grant proposals to Healthy Generations.</p>
                <a href="/paediatric-resident-advocacy-education.html" class="text-blue-600">Read more...</a>
            </article>
            <article class="bg-white p-6 rounded-lg shadow print:mt-0 print:mb-0">
                <h3 class="text-xl font-bold mb-2">Healthy Child Uganda</h3>
                <p class="text-base mb-4">Donations support this community-based project to provide child health training
                    to Ugandan community volunteers and local health care practitioners.</p>
                <a href="/healthy-child-uganda.html" class="text-blue-600">Read more...</a>
            </article>
            <article class="bg-white p-6 rounded-lg shadow print:mt-0 print:mb-0">
                <h3 class="text-xl font-bold mb-2">Dr. Kent Saylor Bursary for Indigenous Medical Students</h3>
                <p class="text-base mb-4">The Dr. Kent Saylor Bursary for Indigenous Medical Students will provide an
                    Indigenous medical student interested in paediatrics with funding to assist them in exploring and
                    gaining knowledge, and hopefully lead to them choosing paediatrics as a career.</p>
                <a href="/kent-saylor-bursary.html" class="text-blue-600">Read more...</a>
            </article>
        </section>
    </main>

{% endblock %}