// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
 
a {
  @apply text-blue-600 no-underline;

  @include on-event {
    @apply text-blue-800 underline;
  }

}

.skip-to-main-content-link {
  position: absolute;
  top: -999px;
  left: -999px;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 9999;
  transition: top 0.3s;
}

.skip-to-main-content-link:focus {
  top: 0;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}