<footer>
  <div class="bg-gray-950 text-white py-6 print:py-2 print-footer min-h-[25px]">
    <div class="container print:hidden">
      <div class="flex flex-col space-y-8 my-8 justify-start items-start space-x-0 sm:landscape:flex-col md:landscape:flex-row sm:landscape:space-8-0 md:landscape:space-y-0 sm:landscape:space-x-0 md:landscape:space-x-12 lg:flex-row lg:space-y-0 sm:justify-center sm:items-start md:justify-center md:items-start lg:justify-center lg:items-start lg:space-x-12">
        <div>
          <h2 class="text-[26px] mt-0 pt-0 mb-4 font-extrabold">Contact Us</h2>
          <div class="flex flex-col space-y-8 sm:portrait:space-y-0 sm:landscape:space-y-0 md:portrait:space-y-0 md:landscape:space-y-0 sm:flex-row md:flex-row lg:flex-row lg:space-y-0 flex-grow">
            {# Address #}

            <div class="mr-8">
              <p class="leading-loose text-lg">100-2305 St. Laurent Blvd.</p>
              <p class="leading-loose text-lg">Ottawa, Ontario</p>
              <p class="leading-loose text-lg">K1G 4J8</p>
            </div>

            {# Phone, fax and Email #}

            <div>
              <div class="flex flex-row justify-start items-center space-x-4 mb-4">
                <div>
                  <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#fff">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 1.01L7 1c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM17 19H7V5h10v14z"></path>
                  </svg>
                </div>
                <div>
                  <p class="leading-loose text-lg"><a href="tel:123-456-7890p227" class="underline hover:no-underline">613-526-9397 ext. 227</a></p>
                </div>
              </div>

              <div class="flex flex-row justify-start items-center space-x-4 mb-4">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff">
                    <path d="M200-120q-50 0-85-35t-35-85v-280q0-50 35-85t85-35q27 0 49.5 11t39.5 29h31v-200h400v200h40q50 0 85 35t35 85v320H289q-17 18-39.5 29T200-120Zm0-80q17 0 28.5-11.5T240-240v-280q0-17-11.5-28.5T200-560q-17 0-28.5 11.5T160-520v280q0 17 11.5 28.5T200-200Zm200-400h240v-120H400v120Zm-80 360h480v-240q0-17-11.5-28.5T760-520H320v280Zm280-160q17 0 28.5-11.5T640-440q0-17-11.5-28.5T600-480q-17 0-28.5 11.5T560-440q0 17 11.5 28.5T600-400Zm120 0q17 0 28.5-11.5T760-440q0-17-11.5-28.5T720-480q-17 0-28.5 11.5T680-440q0 17 11.5 28.5T720-400ZM600-280q17 0 28.5-11.5T640-320q0-17-11.5-28.5T600-360q-17 0-28.5 11.5T560-320q0 17 11.5 28.5T600-280Zm120 0q17 0 28.5-11.5T760-320q0-17-11.5-28.5T720-360q-17 0-28.5 11.5T680-320q0 17 11.5 28.5T720-280Zm-360 0h160v-200H360v200Zm-40 40v-280 280Z" />
                  </svg>
                </div>
                <div>
                  <p class="leading-loose text-lg"><a href="tel:613-526-333" class="underline hover:no-underline">613-526-333</a></p>
                </div>
              </div>

              <div class="flex flex-row justify-start items-center space-x-4 mb-4">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff">
                    <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                  </svg>
                </div>
                <div>
                  <p class="leading-loose text-lg">
                    {# <span class="protected-email text-white" data-email="&#72;&#101;&#97;&#108;&#116;&#104;&#121;&#71;&#101;&#110;&#101;&#114;&#97;&#116;&#105;&#111;&#110;&#115;&#64;&#99;&#112;&#115;&#46;&#99;&#97;" aria-label="Email address, click to reveal"></span> #}
                    <a href="mailto:healthygenerations@cps.ca">healthygenerations@cps.ca</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>
          <h2 class="text-[26px] mt-0 pt-0 mb-4 font-extrabold">Social Media</h2>
          <ul class="flex justify-start items-center space-x-6">
            <li class="">
              <a href="https://www.facebook.com/CanPaedSociety" target="_blank" title="Facebook"><img src="/assets/img/facebook.svg" class="filter-white w-8" alt=""></a>
            </li>
            <li class="">
              <a href="https://www.youtube.com/user/CanPaedSociety" target="_blank" title="Youtube"><img src="/assets/img/youtube.svg" class="filter-white w-8" alt=""></a>
            </li>
            <li class="">
              <a href="https://twitter.com/canpaedsociety" target="_blank" title="X"><img src="/assets/img/x.svg" class="filter-white w-8" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-800">
    <div class="container flex flex-col justify-center items-center py-6">
      <p class="mb-4 lg:mb-2 text-white text-center leading-tight">Copyright © Healthy Generations, foundation of the Canadian Paediatric Society, 2024</p>
      <p class="text-white text-center leading-tight mb-2 lg:mb-0">Charitable Registration No.: 11892 0412 RR0001</p>
    </div>
  </div>
</footer>
