<!-- Side Navigation Menu -->
<aside class="print:hidden order-2 lg:order-1 w-full sm:w-8/12 self-center lg:self-start sm:landscape:w-8/12 md:w-8/12 sm:order-2 md:order-2 sm:block lg:w-1/4 mb-8 lg:mb-0 mt-4 lg:mt-0 px-5 sm:float-right md:float-right">
  <div class="w-full border bg-white border-gray-200 border-1 rounded-2xl shadow-lg p-5 space-y-8">
      <h2 class="text-4xl text-center text-black font-extrabold">Donate Generously</h2>
      <p class="text-center text-xl text-black">Please consider making a donation!</p>
      <div class="flex justify-center items-center">
        <a href="https://www.canadahelps.org/en/charities/healthy-generations/" target="_blank"  class="bg-yellow-400 !no-underline hover:text-shadow-lg text-black font-semibold tracking-wider [text-shadow:_0_2px_4px_rgb(102_102_102_/_0.4)] py-4 px-8 text-2xl sm:portrait:text-xl sm:landscape:text-xl md:portrait:text-xl md:landscape:text-xl lg:landscape:text-2xl rounded-xl mb-2">Donate Now</a>
      </div>
  </div>
</aside>