footer a {
    
    color: #fff;

    &:hover {
        color: #f1f1f1;
    }


    &:visited {
        color: #f1f1f1;
    }


    &:active {
        color: #f1f1f1;
    }

    &:focus {
        color: #f1f1f1;
    }

}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}